@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #001b40;
  --navy: #001b40;
  --white: #ffffff;
  --accent: #003366;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--navy);
  --color-white: var(--white);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
